$color-black: #000000;
$color-white: #fff;
$color-blue: rgb(118, 184, 251);
$color-grey-background: rgba(196,196,196, 0.2);
$color-white-background: #E5E5E5;
$color-redaccent: #FF0100;
$color-blue: #0772BF;
$color-black-less: rgba(0, 0, 0, 0.1);
$color-grey-less: #A9A9A9;
$color-grey-miss: #C8C8C8;
$color-grey-bord: #BFBEBE;
$color-grey-grey: #F3F3F3;